{{ if or (.Prev) (.Next) }}
<div class="prev-next-post">
  <div style="text-align: left;">
    {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.Permalink }}"><i class="fa fa-chevron-left"></i></a>
    {{ end }}
  </div>
  <div>
    {{ if .PrevInSection }}
    <nav class="prev">
      <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
    </nav>
    {{ end }}
  </div>
  <div>
    {{ if and .NextInSection .PrevInSection }}
      <div style="display: inline-block; padding: 0 10px;"> | </div>
    {{ end }}
  </div>
  <div>
    {{ if .NextInSection }}
    <nav class="next">
      <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
    </nav>
    {{ end }}
  </div>
  <div style="text-align: right;">
    {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}"><i class="fa fa-chevron-right"></i></a>
    {{ end }}
  </div>
</div>
{{ end }}
