{{ partial "header.html" . }}
{{ partial "page_header.html" . }}

<section class="content">
  <div class="left-col">
  {{ if not .Paginator.HasPrev }}
    <div class="post-index article-list">
      {{ range first 4 .Site.RegularPages }}
      {{ partial "post_article.html" . }}
      {{ end }}
    </div>
  {{ else }}
    {{ partial "pagination.html" . }}
    <div class="post-index">
      {{ range first 4 (after (add 4 .Paginator.PageNumber) .Site.RegularPages) }}
      {{ partial "post_article.html" . }}
      {{ end }}
    </div>
  {{ end }}
  {{ partial "pagination.html" . }}
  {{ partial "footer_big.html" . }}
  </div>
  <div class="right-col">
      {{ partial "about_right.html" . }}
  </div>
</section>

{{ partial "footer.html" . }}